// 1. 최상단에 코드페이지 선언 추가 (매우 중요!)
#pragma code_page(65001)

#include <windows.h>

// 1. 탐색기 아이콘 설정 (기존 유지)
IDI_ICON1 ICON DISCARDABLE "src/DCDC_ICON.ico"

// 2. 파일 상세 정보 설정
VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,2,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // 041204b0는 한국어(0412)와 유니코드(04b0)를 의미합니다.
        BLOCK "041204b0"
        BEGIN
            VALUE "CompanyName",      "AIMLAB(충북대학교 전현탁 교수님 연구실)"
            VALUE "FileDescription",  "DCDC 분석기(v0.12b)"
            VALUE "FileVersion",      "0.1b"
            VALUE "InternalName",     "DCDCPowerAnalyzer"
            VALUE "LegalCopyright",   "Copyright (C) 2026 wjkim. All rights reserved."
            VALUE "OriginalFilename", "PowerStageAnalyzer.exe"
            VALUE "ProductName",      "DCDC Power Stage AC Analyzer"
            VALUE "ProductVersion",   "0.1.2b"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0412, 1200
    END
END